<% provide(:title, "Home") %>
<div class="main-wrapper">
  <%# BANNER %>
  <div class="bannercontainer">
    <div class="fullscreenbanner-container">
      <div class="fullscreenbanner">
        <ul>
          <li>
            <%= image_tag("home/banner-slider/slider-bg.jpg", :alt => "slidebg1", data:{bgposition: "center center", bgfit: "cover" , bgrepeat: "no-repeat"}) %>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <%# MAIN CONTENT SECTION %>
  <section class="mainContent clearfix">
    <div class="container">
      <%= render 'potepan/static_pages/popular_categories', taxon_shirts: @taxon_shirts, taxon_bags: @taxon_bags, taxon_denim: @taxon_denim %>
      <%= render 'potepan/static_pages/new_arrivals', new_products: @new_products %>
    </div>
  </section>
  <%# LIGHT SECTION %>
  <%= render 'potepan/static_pages/partners' %>
</div>
<%# PORDUCT QUICK VIEW MODAL %>
<%= render 'potepan/static_pages/product_quick_view_modal' %>
