<%= f.fields_for :line_items, line_item do |field| %>
  <tr>
    <td class="col-xs-2">
      <%= link_to remove_line_item_potepan_orders_path(line_item: line_item.id), method: :delete do %>
        <button type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <% end %>
        <span class="cartImage"><%= image_tag(line_item.product.display_image.attachment(:small)) %></span>
    </td>
    <td class="col-xs-4"><%= line_item.product.name %></td>
    <td class="col-xs-2"><%= line_item.product.display_price %></td>
    <td class="col-xs-2">
      <%= field.number_field(:quantity, min: 1, max: 99, value: line_item.quantity) %>
    </td>
    <td class="col-xs-2"><%= line_item.display_amount %></td>
  </tr>
<% end %>
