<% provide(:title, "Cart") %>
<%# LIGHT SECTION %>
<section class="lightSection clearfix pageHeaderImage">
  <div class="container">
    <div class="tableBlock">
      <div class="row tableInner">
        <div class="col-xs-12">
          <div class="page-title">
            <h2>cart</h2>
            <ol class="breadcrumb">
              <li>
                <%= link_to "Home", potepan_path %>
              </li>
              <li class="active">cart</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<%# MAIN CONTENT SECTION %>
<section class="mainContent clearfix cartListWrapper">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="cartListInner">
          <%= form_with(model: @order, url: potepan_order_path(@order), method: :patch, local: true) do |f| %>
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th></th>
                    <th>商品名</th>
                    <th>価格</th>
                    <th>数</th>
                    <th>小計</th>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: 'potepan/orders/line_items', collection: @line_items, as: "line_item", locals: { order: @order, f: f } %>
                </tbody>
              </table>
            </div>
            <div class="updateArea">
              <%= f.submit "アップデート", class: "btn" %>
            </div>
            <div class="totalAmountArea">
              <div class="col-sm-4 col-sm-offset-8 col-xs-12">
                <ul class="list-unstyled">
                  <li>小計 <span><%= @order.display_item_total %></span></li>
                  <li>消費税 <span><%= @order.display_tax_total %></span></li>
                  <li>総計 <span class="grandTotal"><%= @order.display_total %></span></li>
                </ul>
              </div>
            </div>
            <div class="checkBtnArea">
              <a href="/potepan/delivery_address" class="btn btn-primary btn-block">購入する<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</section>
