<div class="row filterArea">
  <%# SORT AREA %>
  <div class="col-xs-6">
    <form name="sort_form">
      <select onchange="dropsort()" name="sort" id="guiest_id1" class="select-drop">
        <% sort_words = { 'new' => '新着順', 'old' => '古い順', 'low' => '安い順', 'high' => '高い順' } %>
        <% sort_words.each do |sort, word| %>
          <% extra_params = extra_params(display_type, sort, option_value_color, option_value_size) %>
          <option value="<%= potepan_category_path(taxon.id, extra_params) %>">
            <%= word %>
          </option>
        <% end %>
      </select>
    </form>
  </div>
  <%# DISPLAY_TYPE AREA %>
  <div class="col-xs-6">
    <div class="btn-group pull-right" role="group">
      <% extra_params = extra_params('grid', keyword, option_value_color, option_value_size) %>
      <%= link_to(potepan_category_path(@taxon.id, extra_params), type: "button", class: "btn btn-default") do %>
        <i class="fa fa-th-list" aria-hidden="true"></i>
        <span>Grid</span>
      <% end %>
      <%= link_to('#', type: "button", class: "btn btn-default active") do %>
        <i class="fa fa-th-list" aria-hidden="true"></i>
        <span>List</span>
      <% end %>
    </div>
  </div>
</div>
<div class="row" id="product_list">
  <%# PRODUCT AREA %>
  <% products.each do |product| %>
    <div class="col-xs-12">
      <div class="productBox">
        <%= link_to potepan_product_path(product) do %>
          <div class="media">
            <div class="media-left">
              <%= image_tag(product.display_image.attachment(:small)) %>
            </div>
            <div class="media-body">
              <h4 class="media-heading"><%= product.name %></h4>
              <p><%= product.description.blank? ? "商品説明はありません" : product.description %></p>
              <h4><%= product.display_price %></h4>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
