<% provide(:title, @taxon.name) %>
<div class="main-wrapper">
  <%# LIGHT SECTION %>
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= @taxon.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li><%= link_to "Home", potepan_path %></li>
            <li><%= link_to "shop", '#' %></li>
            <li class="active"><%= @taxon.name %></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <%# MAIN CONTENT SECTION %>
  <section class="mainContent clearfix productsContent">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
          <%= render 'potepan/categories/filter/product_category', taxonomies: @taxonomies %>
          <%= render 'potepan/categories/filter/color', colors: @colors, taxon: @taxon if @colors %>
          <%= render 'potepan/categories/filter/size', sizes: @sizes, taxon: @taxon if @sizes %>
        </div>
        <div class="col-md-9 col-sm-8 col-xs-12">
          <% if display_list?(@display_type) %>
            <%= render 'potepan/categories/display_list', products: @products,
                                                          taxon: @taxon,
                                                          display_type: @display_type,
                                                          option_value_color: @option_value_color,
                                                          option_value_size: @option_value_size,
                                                          keyword: @keyword %>
          <% else %>
            <%= render 'potepan/categories/display_grid', products: @products,
                                                          taxon: @taxon,
                                                          display_type: @display_type,
                                                          option_value_color: @option_value_color,
                                                          option_value_size: @option_value_size,
                                                          keyword: @keyword %>
          <% end %>
        </div>
      </div>
    </div>
  </section>
</div>
