<% provide(:title, "Product") %>
<div class="main-wrapper">
  <%# LIGHT SECTION %>
  <section class="lightSection clearfix pageHeader">
    <div class="container">
      <div class="row">
        <div class="col-xs-6">
          <div class="page-title">
            <h2><%= @product.name %></h2>
          </div>
        </div>
        <div class="col-xs-6">
          <ol class="breadcrumb pull-right">
            <li>
              <%= link_to "Home", potepan_path %>
            </li>
            <li class="active"><%= @product.name %></li>
          </ol>
        </div>
      </div>
    </div>
  </section>
  <%# MAIN CONTENT SECTION %>
  <section class="mainContent clearfix">
    <div class="container">
      <div class="row singleProduct">
        <div class="col-xs-12">
          <div class="media">
            <div class="media-left productSlider">
              <div id="carousel" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                  <% @images.each_with_index do |image, index| %>
                    <div class="item <%= "active" if index.zero? %>" data-thumb="<%= index %>">
                      <%= image_tag(image.attachment(:large)) %>
                    </div>
                  <% end %>
                </div>
              </div>
              <div class="clearfix">
                <div id="thumbcarousel" class="carousel slide" data-interval="false">
                  <div class="carousel-inner">
                    <% @images.each_with_index do |image, index| %>
                      <div data-target="#carousel" data-slide-to="<%= index %>" class="thumb"">
                        <%= image_tag(image.attachment(:small)) %>
                      </div>
                    <% end %>
                  </div>
                  <a class="left carousel-control" href="#thumbcarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                  </a>
                  <a class="right carousel-control" href="#thumbcarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                  </a>
                </div>
              </div>
            </div>
            <div class="media-body">
              <% if @taxon %>
                <%= link_to potepan_category_path(@taxon.id) do %>
                  <ul class="list-inline">
                    <li><i class="fa fa-reply" aria-hidden="true"></i>一覧ページへ戻る</li>
                  </ul>
                <% end %>
              <% end %>
              <h2><%= @product.name %></h2>
              <h3><%= @product.display_price %></h3>
              <p><%= @product.description.blank? ? "商品説明はありません" : @product.description %></p>
              <%= form_with(scope: :order, url: populate_potepan_orders_path, method: :get, local: true) do |f| %>
                <% if @variants %>
                  <span class="quick-drop">
                    <%= f.select(:variant_id, '', {include_blank: true}, {id: "guiest_id3", class: "select-drop"}) do %>
                      <% @variants.each do |variant| %>
                        <%= content_tag(:option, variant.options_text, value: variant.id) %>
                      <% end %>
                    <% end %>
                  </span>
                <% else %>
                  <span>
                    <%= f.hidden_field(:variant_id, value: @product.master.id) %>
                  </span>
                <% end %>
                <span class="quick-drop resizeWidth">
                  <%= f.select(:quantity, '', {}, {id: "guiest_id4", class: "select-drop"}) do %>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                  <% end %>
                </span>
                <div class="btn-area">
                  <%= f.submit "カートへ入れる", class: "btn btn-primary btn-block" %>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <%# RELATED PRODUCTS %>
      <% if @related_products %>
        <%= render 'potepan/products/related_products', related_products: @related_products %>
      <% end %>
    </div>
  </section>
</div>
