<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body" id="colors">
    <ul class="list-unstyled">
      <% colors.each do |color| %>
        <li>
          <%= link_to potepan_category_path(taxon.id, color: color) do %>
            <%= color.presentation %><span>(<%= variants_count_on_option(option: color, taxon: taxon) %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
