<div class="panel panel-default filterNormal">
  <div class="panel-heading">サイズから探す</div>
  <div class="panel-body" id="sizes">
    <ul class="list-unstyled">
      <% sizes.each do |size| %>
        <li>
          <%= link_to("/potepan/categories/#{taxon.id}?size=#{size.id}") do %>
            <%= size.presentation %><span>(<%= variants_count_on_option(option: size, taxon: taxon) %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
