<%# HEADER %>
<div class="header clearfix">
  <%# TOPBAR %>
  <div class="topBar">
    <div class="container">
      <div class="row">
        <div class="col-md-6 hidden-sm hidden-xs">
          <ul class="list-inline">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          </ul>
        </div>
        <div class="col-md-6 col-xs-12">
          <ul class="list-inline pull-right">
            <li class="dropdown searchBox">
              <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
              <ul class="dropdown-menu dropdown-menu-right">
                <%= form_with(url: potepan_search_path, method: :get, local: true) do |f| %>
                  <%= f.text_field :search, class: 'form-control', placeholder: 'Search…' %>
                  <%= f.submit "検索", class: 'search-button' %>
                <% end %>
              </ul>
            </li>
            <li class="dropdown">
              <%= link_to potepan_cart_path, class: "dropdown-toggle" do %>
                <i class="fa fa-shopping-cart"></i>
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <%# NAVBAR %>
  <nav class="navbar navbar-main navbar-default" role="navigation">
    <div class="container">
      <%# Brand and toggle get grouped for better mobile display %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to image_tag("img/logo.png", :alt => ""), potepan_path, class: "navbar-brand" %>
      </div>
      <%# Collect the nav links, forms, and other content for toggling %>
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", potepan_path %></li>
          <li class="dropdown megaDropMenu active">
            <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="300" data-close-others="true" aria-expanded="false">Shop</a>
          </li>
        </ul>
      </div><%# /.navbar-collapse %>
    </div>
  </nav>
</div>
